.img1,.img2,.img3,.img4 {
    height: 100%;
    width: 100%;
   object-fit: cover;
   box-shadow: 0px 0px 30px 10px grey;
}
.container {
    position: absolute;
    top: 40%;
    left: 15%;
}

.heart {
    color: #DD58D6;
    font-size: 70px;
    position: absolute;
    right: 35%;
    top: 20%;
    transform: scale(0);
    opacity: 0.8;
    transition-duration: 0.45s;
    transition-timing-function: ease-in-out;
}
header h1{
    font-size: 96px;
    text-align: center;
    margin-top: 100px;
}

.image1, .image2, .image3, .image4 {
    width: 25%;
    position: relative;
}